@charset "UTF-8"; 
    
body{
background-color: rgb(215, 213, 211);
font-family: 'Times New Roman', Times, serif;
}
 


.namn { 
text-align: center;
text-decoration: none;
font-size: 2em;
position: absolute;
top: 10%;
left: 50%;
transform: translate(-50%, -80%);
opacity: 70%;
color: black;
z-index: 1;
border: solid 5px;
border-left: 3rem;
border-right: 3rem;
}

.knapp a{
text-align: center;
text-decoration: none;
font-size: 35px;
position: absolute;
top: 60%;
left: 50%;
transform: translate(-50%, -80%);
opacity: 70%;
color: rgb(0, 0, 0);
border: solid rgb(0, 0, 0);
z-index: 1;
background-color: black; 
color: white; 
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 150px 150px; 
font-size: 35px; 
}

#roomImageContainer {
    width: 500px;
    height: 500px;
    position: relative;
    
    
}

#roomImage {
    max-width: 100%;
    position: absolute;
    left: 250px;
    top: 100px;
}

/*styr*/
img.draggable-image {
    cursor: grab;
    position: relative;
    width: 290px; 
}

button {
    background-color: black; 
    color: white; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 30px;
    font-size: 35px;
}

.button-container button {
    padding: 15px 30px;
    font-size: 35px; 
    margin: 10px;

}

.text {
    position: absolute;
    top: 74px; 
    right: 20px; 
    margin: 30px;
    border: solid white;
    border-width: 10px;
    padding: 17px;
    
    
}

.text h2 {
    text-align: right;
    font-size: 22px;
    
}
.info-text {
    position: absolute;
    right: 400px; 
    margin: 50px;
    top: 340px; 
    right: 20px; 
    margin: 30px;
    border: solid white;
    border-width: 10px;
    padding: 17px;
    
}

.changeColor{
    margin-top: 10px;
}

.hidden {
    display: none;
}
.room-buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

#drag3{
    width: 120px;
}

#drag4{
    width: 200px;
}

#drag5{
    width: 500px
}

#drag6{
    width: 170px;
}

